{% extends 'base.html' %}

{% block content %}

<h1> Take a peek at your new family member!</h1>

<div class="row pets-list">
    {% for pet in pets %}
    <div class="col-4 m-6">
        {% if img %}
        <img class="img-thumbnail" src="{{ pet.photo_url.url() }}">
        {% else %}
        <img class="img-thumbnail" src="{{ DEFAULT_IMAGE }}">
        {% endif %}
        <a href="{{ url_for('edit_pet', pet_id=pet.id) }}">{{ pet.name }}</a>
        
        {% if pet.available %} 
        <b> is still available! </b>
        {% endif %}
    </div>
    {% else %}
    <div class="col-10">No pets yet! Come back soon!</div>
    {% endfor %}
</div>

<a href="{{ url_for('add_pet') }}" class="btn btn-success m">Add a Pet!</a>

{% endblock %}